body{
    background-color: #FBECFF;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
}

.titulo{
    font-style: oblique;
}

.botao {
    padding: 6px 17px;
    border-radius:  12px;
    line-height: 1.25;
    background: #6A207D;
    text-decoration: none;
    color: white;
    font-size: 9px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    
  }

  .cor{
    color: #6A207D;
  }